body {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    background-color: #ccc;
}
.contact_us {
  padding: 100px 20px !important;
}
form {
    max-width: 600px;
    margin: 10px auto;
}
form textarea {
  height: 175px !important;
}
form input {
  padding-left: 30px !important;
  margin-bottom: 20px;
  margin-top: 20px;
}

form i {
  position: relative;
  top :-28px;
  left: 5px;

}
.form-group {
  margin: 0;
}
form > i:last-of-type {
  color: #fff;
}

.custom-alert {
  padding: 5px 7px;
  display:  none;
}

.alert {
  max-width: 500px;
}
textarea {
  margin-bottom: 15px;
}
.custom-success {
  margin: 10px auto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway' , 'sans serif';
  font-weight: black;
  font-style: italic;
  text-transform: uppercase;
}
p , span  , button{
  font-family: 'Raleway','sans serif';
  font-style: italic;
  text-transform: capitalize;

}
h1 {
  color: #c70540;
}
