/* Start Main Stying */
body {
  box-sizing: border-box;
  padding-top: 45px;
}
/*Start Main Header Styling  */
.main-header {
  background-image: url('../images/mobilefix.jpg');
  background-size: cover;
  color: #fff;
  background-position: center;
  overflow: hidden;
  padding: 15px 10px;
}
.main-header .container  > div.row:first-of-type {
  margin: 20% auto;
}
.main-header .container h1 {
 font-family: 'Raleway', sans-serif;

  font-size: 50px;
}
.main-header .container button {
  padding: 10px 15px;
  margin-top: 15px;
}

/* End Main Header Styling */
/*Start how it is work  */
.how-it-works {
  padding: 100px 10px;
  background-color: #ddd;
  color: #333;
}
.how-it-works .container .row > div:first-of-type span {
  color: #c70540;
}
.how-it-works .container .row > div > i {
  color:#c70540;
  display: block;
  font-size: 60px;
}
.how-it-works .container .row > div > strong {
  display: block;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #002e63;
}
/*Choose Your Device  */
.choose-your-phone {
  padding: 40px 10px;
}
.choose-your-phone .container .row:last-of-type  div img  {
  display: block;
  margin: 10px auto;
}
.choose-your-phone .container .row:last-of-type  div button {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  width: 100px;
  background-color: #002e63;
  border: none;
}

.modal {
  top:40%;
}
.request-order {
  padding: 25px 10px;
  background-color: #e6e6e6;
  display: none;
}
/*Request Order  */
.request-order .container .row h1 {
  font-weight: bold;
  color:#c70540;
}
.request-order .container .row form {
  display: block;
  width: 70%;
  margin: 15px auto;
}
.request-order .container .row form  select {
  margin: 10px auto;
  display: block;
  width: 40%;

}
.request-order .container .row form  label {
  display: block;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;

}
.request-order .container .row form  input {
  margin: 20px 2px;
}
/*Start Mother Board  */
.mother_board {
  background-image: url('../images/mother_board.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px 10px;
  color: #fff;
  font-family: 'Dhurjati', sans-serif;
}
.mother_board p {
  font-size:50px;
}
/*Start issues  */
.issues {
  padding: 40px 15px;
}
.issues .container .row div img {
  transform: scale(.8);
}
.issues .container .row div:first-of-type {
      padding: 85px 10px;
}
.issues .container .row div h1 {
  font-size: 40px;
  font-family: 'BioRhyme Expanded', serif;
}
.issues .container .row div p {
  font-weight: bolder;
  font-size: 20px;
}
.ultimate-footer {
  background-color: #fff;
  padding: 50px 15px;
  color: #000;
}
.ultimate-footer form input {
  margin-top: 20px;
}
.ultimate-footer h3 {
  color: #002e63;
}
.ultimate-footer img {
  float: left;
}
/*Custom  */
.custom-alert {
  display: none;
}
/*Start loadin Page  */
/* .loading-page {
background-color: #000;
position: absolute;
height: 100%;
width: 100%;
z-index: 9999;
top: 0;
left: 0;
text-align: center;
overflow: hidden;
}
.loading-page i {
  color: #c70540;
  display: block;
  margin: 20% auto 20px;
  font-size: 100px;
}
.loading-page h3 {
  font-size: 45px;
  animation: changecolor 2s ease-in-out infinite alternate;
}
@keyframes changecolor {
    from{
      color: #000;
    }
    to {
      color: #ccc;
    }
} */
/*special Edit  */
.navbar-brand p {
  color: #002e63;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}
.navbar-brand p span {
  color: #c70540;
}
/* .main-header button {
  background-color: #c70540;
  border: none;
  padding: 10px 15px;
} */
.navbar-default {
  background-color: #fff;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway' , 'sans serif';
  font-weight: black;
  font-style: italic;
  text-transform: uppercase;
}
p , span  , button{
  font-family: 'Raleway','sans serif';
  font-style: italic;
  text-transform: capitalize;

}
button , .iphone , .other , input[type = "submit"] {
  text-transform: uppercase;
  border-radius:300px !important;
  background-color: #c70540 !important;
  border: none !important;
}
button:hover , button:focus {
 opacity: .8;
}
 img {
  margin: 0 auto;
}
footer img {
  margin-top: 70px;
}
i:hover {
  color: #c70540;
}
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav li a:hover
  {
    color: #fff;
    background-color: #c70540;
    border: none;
  }
  .navbar-default .navbar-nav li a:not(active):hover{
    background-color: #002e63;
    color: #fff;
    border: none;
  }
